<div id="main">
  <div class="main-info">
    <div class="col-1">
        
    </div>
    <div class="col-2">
          <p>Welcome to our site!</p>
          <span>Do you want to define your professional future?</span>
          <span> Then you are in the right place!</span>
          <span class="mobile-hidden">This site was developed for helping people in important choice of the possible ways of their career.
          You just need to allow access to your camera and your emotions will reflect everything.</span>
          <button routerLink="/image-viewer">START</button>
    </div>
    <div class="col-3">
        
    </div>
  </div>
</div>


