

#main {
    margin-top: 10px;
    width: 100%;
    display: block;
}


#main .main-info .col-1 {
    display: block;
    position: absolute;
    left: 0;
    top: 120px;
    width: 300px;
    height: 500px;
    background-image: url('https://image.freepik.com/free-vector/profession-avatar-pack_23-2147536163.jpg');
    background-position-y: -75px;
}

#main .main-info .col-2 {
    margin: 40px auto 0 auto;
    width: 400px;
    text-align: center;
    font-family: 'Courier';
}

#main .main-info .col-2 button {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-family: 'Courier';
    margin-top: 30px;
}

#main .main-info .col-2 p {
    font-size: 30px;
}

#main .main-info .col-2 span {
    margin: 10px;
    display: block;
    font-size: 20px;
}

#main .main-info .col-3 {
    display: block;
    position: absolute;
    right: 0;
    top: 110px;
    width: 300px;
    height: 500px;
    background-image: url('https://image.freepik.com/free-vector/profession-avatar-pack_23-2147536163.jpg');
    background-position-x: 315px;
    background-position-y: -85px;
}

@media screen and (max-width: 980px) and (min-width: 720px) {
    #main .main-info .col-1 {
        width: 150px;
        background-position-x: -25px;
    }
    #main .main-info .col-3 {
        width: 150px;
        background-position-x: 320px;
    }
}

@media screen and (max-width: 719px) and (min-width: 401px) {
    #main .main-info .col-3 {
        display: none;
    }
    #main .main-info .col-2 p {
        font-size: 20px;
    }
    #main .main-info .col-1 {
        transform: translateX(-60%);
        left: 50%;
        height: 150px;
    }
    #main .main-info .col-2 .mobile-hidden {
        display: none;
    }
    #main .main-info .col-2 {
        margin-top: 180px;
    }
    #main .main-info .col-2 span {
        font-size: 15px;
    }
    #main .main-info .col-2 button {
        margin-top: 30px;
    }    
}

@media screen and (max-width: 400px) {
    #main .main-info .col-3 {
        display: none;
    }
    #main .main-info .col-2 p {
        font-size: 20px;
    }
    #main .main-info .col-1 {
        transform: translateX(-60%);
        left: 50%;
        height: 150px;
    }
    #main .main-info .col-2 .mobile-hidden {
        display: none;
    }
    #main .main-info .col-2 {
        margin-top: 180px;
        width: 250px;
    }
    #main .main-info .col-2 span {
        font-size: 15px;
    }
    #main .main-info .col-2 button {
        margin-top: 30px;
    } 
}

