
.wrapper{
    width:1000px;
    margin: 0 auto 80px auto;
    font-family: Courier, sans-serif;
}
.wrapper h2{
    text-align:center;
    margin-top:15px;
}



@media (min-width:769px) and (max-width:1024px){
    .wrapper{
        width:600px;
    }
}
@media (max-width:768px){
    .wrapper{
        width:300px;
    }
}