/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
}
.page-loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100000;
    background-color: #ffffff;
  }
  .page-loader .loader-img {
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
  }